<form action="/app/upload/" method="post" enctype="multipart/form-data">
    <ul>
        <li>
            <label for="id_email">Email:</label>
            <input id="id_email" maxlength="50" name="email" type="email">
        </li>
        <li>
            <label for="id_profileName">Profilename:</label>
            <input id="id_profileName" maxlength="50" name="profileName" type="text" value="BRZ">
        </li>
        <li>
            <label for="id_device_id">Device id:</label>
            <input id="id_device_id" maxlength="50" name="device_id" type="text" value="12345">
        </li>
        <li>
            <label for="id_session">Session:</label>
            <input id="id_session" maxlength="50" name="session" type="text" value="10101010">
        </li>
        <li>
            <label for="id_file">File:</label>
            <input id="id_file" name="file" type="file">
        </li>
    </ul>
    <input type="submit" value="Submit">
</form>