p_one = #423F4F
p_two = #565E75
p_three = #8096A5
p_four = #428bca
p_five = #E2DACF
p2_one = #648C3B
p2_two = #D7D99A
p2_three = #D9B959
p2_four = #261105
p2_five = #59130C
fonts = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body
	font-family fonts

.upload button
	margin-bottom 10px

.chart
	text
		font-size 12px
		font-weight 300
		text-anchor middle
		fill none
	.axis
		path,line
			fill none
			stroke black
			shape-rendering crispEdges
		text
			fill black
			font-size 11px
	.path
		fill none
		// stroke p_four
		stroke-width 2
	.dots
		fill p_four
		stroke none

#map-canvas
	width 100%
	height 450px

.map-small
	height 120px
	width 150px
	display inline-block
	float right
	border 1px solid p_five

.fields
	height 100%
	padding 10px
	background #EEE
	li
		color p_four
		.outline
			padding 3px 4px
			margin 2px 4px
		.selected
			background #CCC
			border-radius 2px

#bottom-content
	margin-top 10px